; backiee广告屏蔽
host-suffix,stats.g.doubleclick.net,reject
host-suffix,pagead2.googlesyndication.com,reject
host-suffix,googleads.g.doubleclick.net,reject
host-suffix,app-measurement.com,reject
host-suffix,ade.googlesyndication.com,reject
host-suffix,googleads4.g.doubleclick.net,reject